<div class="cont">
    <div class="why-section">
        <div class="doc">Why it’s works</div>
          <div class="under ms-5">
            <img src="../../../../../assets/imagess/Vector.png" alt="" class="imgDoc ps-5">
          </div>
        <div class="features">
          <div class="feature">
            <div class="icon icon-1"></div>
            <h4>Easy Access to Healthcare</h4>
            <p>Find and book doctors quickly</p>
          </div>
          <div class="feature">
            <div class="icon icon-2"></div>
            <h4>Secure & Reliable</h4>
            <p>Safe payments and OTP-protected login.</p>
          </div>
          <div class="feature">
            <div class="icon icon-3"></div>
            <h4>Comprehensive Services</h4>
            <p>From medical consultations to health blogs and expert advice.</p>
          </div>
        </div>
        </div>
    
