<div class="cont">
  <div class="why-section">
    <div class="doc">Why it’s works</div>
    <div class="underl"></div>
    <div class="features">
      <div class="feature text-center">
        <i class="bi bi-heart-pulse-fill fs-1 text-danger"></i>
        <h4>Easy Access to Healthcare</h4>
        <p>Find and book doctors quickly</p>
      </div>
      <div class="feature text-center">
     <i class="bi bi-shield-lock-fill fs-1 text-success"></i>
        <h4>Secure & Reliable</h4>
        <p>Safe payments and OTP-protected login.</p>
      </div>
      <div class="feature text-center">
       <i class="bi bi-gear-fill fs-1 text-primary"></i>
        <h4>Comprehensive Services</h4>
        <p>From medical consultations to health blogs , expert advice and others</p>
      </div>
    </div>
  </div>
</div>
