<div class="container">
  <div class="text">
    <h1>Preparing People for a Healthier Future</h1>
  </div>
  <div class="underl"></div>

  <div class="section">
    <div class="text-content">
      <h2>Providing Accessible and Efficient Healthcare</h2>
      <div class="highlight"></div>
      <p>
        A modern healthcare solution that connects individuals with <br />
        doctors, making medical consultations easier than ever.
      </p>
      <a href="#" class="link">📎 Book an Appointment</a>
    
    </div>
    <div class="image-content">
      <img src="./assets/images/image10.png" alt="Stethoscope" />
    </div>
  </div>

  <div class="section">
   <div class="image-content">
      <img src="./assets/images/image10.png" alt="Pills" />
    </div>
    <div class="text-content">
      <h2>Seamless Online Consultation Experience</h2>
       <div class="highlight"></div>
      <p>
        Our platform offers real-time communication through chat and voice
        calls, ensuring fast and effective medical advice.
      </p>
      <a href="#" class="link">📎 Start a Conversation</a>
    
    </div>
  </div>
  <div class="section">
    <div class="text-content">
      <h2>Healthcare Professionals<br />Who Make a Difference</h2>
      <div class="highlight"></div>
      <p>
        Our network of trusted doctors provides expert guidance,<br />
        helping users receive quality care with confidence.
      </p>
      <a href="#" class="link">🔗 Find a Doctor</a>
    </div>
    <div class="image-content">
      <img
        src="./assets/images/image10.png"
        alt="Stethoscope with Heart"
        class="main-image"
      />
    </div>
  </div>
</div>
