<div class="cont">
    <div class="text">
     <h1>Preparing People for a Healthier Future</h1>
   </div> 
     <div class="underl">
   <img src="../../../../../assets/imagess/Vector.png" alt="">
     </div>
   
     <div class="section">
       
    
    <div class="text-content">
      <h2>Providing Accessible and Efficient Healthcare</h2>
      <div class="highlight"></div>
      <p>A modern healthcare solution that connects individuals with <br> doctors, making medical consultations easier than ever.</p>
      <a href="#" class="link">📎 Book an Appointment</a>
      <button class="btn">View More</button>
    </div>
    <div class="image-content">
      <img src="../../../../../assets/imagess/img1.jpg" alt="Stethoscope" />
    </div>
   
   <div class="section reverse">
    <div class="image-content">
      <img src="../../../../../assets/imagess/img1.jpg" alt="Pills" />
    </div>
    <div class="text-cont">
    <div class="text-content">
      <h2>Seamless Online Consultation Experience</h2>
      <div class="h-line">
      </div>
      <p>Our platform offers real-time communication through chat and voice calls, ensuring fast and effective medical advice.</p>
      <a href="#" class="link">📎 Start a Conversation</a>
      <button class="btn">View More</button>
    </div></div>
   </div> 
    <div class="text-area">
       <h2>Healthcare Professionals<br>Who Make a Difference</h2>
       <div class="highlight-line"></div>
       <p>Our network of trusted doctors provides expert guidance,<br> helping users receive quality care with confidence.</p>
       <a href="#" class="link">🔗 Find a Doctor</a>
       <button class="btn">View More</button>
     </div>
     <div class="image-content">
       <img src="../../../../../assets/imagess/img1.jpg" alt="Stethoscope with Heart" class="main-image">
     </div>
     </div>
   
   
   
