<div class="container d-flex justify-content-center p-5 bg-light">
  <div class="doctor-signup">
    <h2 class="text-center mb-4">Doctor Sign Up</h2>
 
      <div class="mb-3">
        <input 
          type="text" 
          formControlName="name" 
          placeholder="Full Name" 
          class="form-control" 
          required 
        />
      </div>
      <div class="mb-3">
        <input 
          type="email" 
          formControlName="email" 
          placeholder="Email" 
          class="form-control" 
          required 
        />
      </div>
      <div class="mb-3">
        <input 
          type="password" 
          formControlName="password" 
          placeholder="Password" 
          class="form-control" 
          required 
          />
      </div>
      
        
        <div class="mb-3">
          <input 
            type="password" 
            formControlName="confirm password" 
            placeholder="confirm Password" 
            class="form-control" 
            required 
          />
      </div>
      <div class="mb-3">
        <input 
          type="file" (change)="onFileSelected($event)" 

          accept=".pdf,.doc,.docx" 
          class="form-control" 
          required 
        />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="doctorForm.invalid">
        Sign Up 
      </button>

    
  </div>
</div>
