<div class="container d-flex justify-content-center p-5 bg-light">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <!-- Signup Section -->
    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Sign Up</label>
        <input type="text" name="username" placeholder="Username" required="" />
        <input type="email" name="email" placeholder="Email" required="" />
        <input type="password" name="password" placeholder="Password" required="" />
        <button>Sign Up</button>
        <label for="chk">
         
        </label>
      </form>
    </div>

    <!-- Login Section -->
    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="" />
        <input type="password" name="password" placeholder="Password" required="" />
        <button>Login</button>
        <label for="chk">
          
          <button type="button" class="toggle-btn"> Sign Up</button>
        </label>
      </form>
    </div>
  </div>
</div>
