<!-- Modal  for logIn-->
<div
  class="modal fade"
  id="LogInModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-md">
    <div class="modal-content">
      <div class="modal-body row">
        <div class="col-10 loginPhoto ps-5 pt-5">
          @if (isDoctor) {
          <img
            src="../../../../assets/images/loginDoctor1.png"
            alt=""
            class="loginPhoto2"
          />
          <img
            src="../../../../assets/images/loginDoctor.png"
            alt=""
            class="loginPhoto1"
          />

          }@else {
          <img
            src="../../../../assets/images/p2.png"
            alt=""
            class="loginPhoto2"
          />
          <img
            src="../../../../assets/images/p1.png"
            alt=""
            class="loginPhoto1"
          />
          }
        </div>
        <div class="col-2 d-flex justify-content-end p-3 pe-5">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="col-12 formLogin m-auto">
          <h4 class="login-title text-center pt-5 pb-4">
            <span class="changer">{{ toggler }}</span> LogIn🎈
          </h4>
          <div class="row">
            <div class="col-12 emailContainer">
              <i class="bi bi-envelope-fill p-2"></i>
              <input type="email" class="formControl p-2" placeholder="Email" />
            </div>
            <div class="col-12 passwordContainer mt-3">
              <i class="bi bi-lock-fill p-2"></i>
              <input
                type="password"
                class="formControl p-2"
                placeholder="password"
              />
              <i
                class="bi"
                [className]="hider ? 'bi-eye-slash show' : 'bi-eye show'"
                (click)="hide()"
              ></i>
            </div>
            <div
              class="col-12 ModalBtn d-flex justify-content-center mt-3"
              data-bs-toggle="modal"
              data-bs-target="#otpForget"
            >
              <p class="forget">forget your password?</p>
            </div>

            <div
              class="col-12 ModalBtn loginBtn pt-2"
              data-bs-toggle="modal"
              data-bs-target="#OtpModal"
            >
              <p class="text-white w-100 h-100">Log In</p>
            </div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
          <p
            class="signUp ModalBtn"
            data-bs-toggle="modal"
            data-bs-target="#SignUpModal"
          >
            sign up
          </p>
        </div>
        <div class="col-6 d-flex justify-content-start">
          <p class="logIn" (click)="signUpChanger(!isDoctor)">
            Login For <span class="signUp-changer">{{ signToggler }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-otp></app-otp>
