<!-- blog-moderation.component.html -->
<div class="container">
    <h3>Blog Management</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blog of blogs">
          <td>{{ blog.title }}</td>
          <td>{{ blog.author }}</td>
          <td>{{ blog.status }}</td>
          <td>
            <button *ngIf="blog.status === 'Pending'" (click)="approveBlog(blog.id)" class="btn btn-success">Approve</button>
            <button *ngIf="blog.status === 'Pending'" (click)="rejectBlog(blog.id)" class="btn btn-danger">Reject</button>
            <button (click)="deleteBlog(blog.id)" class="btn btn-warning">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  