.notification-page {
  margin-top: 20px;
  height: 80vh;
}

.header {
  background: #6f42c1;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.notification-list {
  max-width: 800px;
  margin: auto;
  height: 60vh;
  overflow-y: scroll;
}

.notification-card {
  display: flex;
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.notification-card.unread {
  background: #c1bca79a;
}

.notification-content h5 {
  margin-bottom: 5px;
}

.btn-success {
  padding: 5px 10px;
}
