

.header {
  background: #6f42c1;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-info {
  background: #f8f9fa;
  padding: 3rem;
  /* border-radius: 10px; */
  border-top-left-radius: 2rem;
}

.map-container {
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.btn-primary {
  background-color: #6f42c1;
  border: none;
}

.btn-primary:hover {
  background-color: #5a32a3;
}

.contact-form {
  background: linear-gradient(white, rgba(195, 60, 60, 0.222),rgba(0, 0, 0, 0.396));
  padding:3rem;
   border-bottom-right-radius: 3rem;
}
