/* You can add global styles to this file, and also import other style files */
/*body{
 background-color: red;  */
  /*background: linear-gradient(rgba(0, 0, 0, 0.293), rgba(219, 219, 219, 0.427)), 
     url("assets/images/doc2.jpg") center/cover no-repeat fixed; 
   height: 100vh; 
   height:100vh; 
}*/
