<nav
  class="navbar navbar-expand-lg navMargin ps-5 pe-5"
  [ngClass]="{ 'fixed-top shadow-sm bg-light': isScrolled }"
>
  <div class="navbar-brand">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiVSHtxoIi9De-gEbgNj7MCmDd4D2ULQ-7oA&s"
      width="40"
      alt=""
      class="rounded-circle mb-2"
    />
    <span class="navbar-title p-1">E~Hospital</span>
  </div>
  <button
    type="button"
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <div class="row w-100">
      <div
        class="navbar-nav links col-9 d-flex justify-content-evenly align-items-center"
      >
        @for (item of navLinks; track $index) {
        <a
          [routerLink]="item"
          class="nav-item nav-link"
          [ngStyle]="{ color: isScrolled ? '#010323' : '#fff' }"
          (click)="setActive(item)"
          [ngClass]="{ 'text-warning': activeTab === item }"
          >{{ item.slice(1) | uppercase }}
        </a>
        }
      </div>
      <div
        class="navbar-nav col-3 d-flex justify-content-end align-items-center profile"
      >
        @if(showProfile){
        <a [routerLink]="Notification">
          <button
            type="button"
            class="nav-item nav-link"
            (click)="setActive('notification')"
            >
            <i
            [ngClass]="{ 'text-warning': activeTab === 'notification' }"
            class="fa-solid fa-bell"
            [ngStyle]="{ color: isScrolled ? '#010323' : '#f2f2f2' }"
            ></i>
          </button>
        </a>
        <a [routerLink]="message" class="pe-3">
          <button
          type="button"
          class="nav-item nav-link"
          (click)="setActive('chat')"
          
            >
            <i
            class="bi bi-chat-dots-fill"
            [ngClass]="{ 'text-warning': activeTab === 'chat' }"
              [ngStyle]="{ color: isScrolled ? '#010323' : '#f2f2f2' }"
            ></i>
          </button>
        </a>
        <div class="dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle user-action"
            data-bs-toggle="dropdown"
          >
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLA994hpL3PMmq0scCuWOu0LGsjef49dyXVg&s"
              width="40px"
              alt="image"
              class="rounded-circle"
            />
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="profile" class="dropdown-item"
              ><i class="fa-solid fa-user pe-1"  [ngClass]="{ 'text-warning': activeTab === 'profile' }"></i> Profile</a
            >
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item"
              ><i class="fas fa-sign-out-alt pe-1"></i>Logout</a
            >
          </div>
        </div>
        } @else{
        <a class="pe-5" routerLink="logIn">logIn </a>
       

        }
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
