<!-- Modal  for signUp-->
<div
  class="modal fade"
  id="SignUpModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-body row">
        <div class="signUp-front col-4">
          <div class="navbar-brand pt-5 ps-4">
            <img
              src="../../../../assets/images/Logo.jpg"
              width="30"
              alt=""
              class="rounded-circle mb-2"
            />
            <span class="navbar-titleSign p-1">E~Hospital</span>
          </div>
          <div class="signUp-img">
            @if(!isDoctor){
            <img
              src="../../../../assets/images/PatientSignUp.png"
              class="w-100"
              alt="Image"
            />
            }@else {
            <img
              src="../../../../assets/images/signUpDoctor.png"
              class="w-100 DoctorImage mt-5 mb-0"
              alt="Doctor Image"
            />
            }
          </div>
        </div>
        <div class="gradient-color col-4"></div>
        <div class="signUp-info col-8 p-3 pe-5">
          <div class="row pt-3">
            <div class="col-10">
              <h2 class="signUp-title">
                Sign Up For <span class="signUp-changer">{{ toggler }}</span>
              </h2>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <div class="row me-5">
            <div class="col-6">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control text muted"
                id="firstName"
                placeholder="Your First Name"
              />
            </div>
            <div class="col-6">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control text muted"
                id="lastName"
                placeholder="Your Father Name"
              />
            </div>
            <div [className]="isDoctor ? 'col-6  mt-4' : 'col-12  mt-4'">
              <label for="email" class="form-label">Email Address</label>
              <input
                type="email"
                class="form-control text muted"
                id="email"
                placeholder="Enter your email address"
              />
            </div>
            @if(isDoctor){
            <div class="col-6 mt-4">
              <label for="email" class="form-label">Submit Your CV</label>
              <input
                type="file"
                class="form-control text muted"
                id="email"
                placeholder="Enter your email address"
              />
            </div>
            }
            <div class="col-6 mt-4">
              <label for="password" class="form-label">password</label>
              <input
                type="password"
                class="form-control text muted"
                id="password"
                placeholder="enter new password"
              />
            </div>
            <div class="col-6 mt-4">
              <label for="password" class="form-label">password</label>
              <input
                type="password"
                class="form-control text muted"
                id="password"
                placeholder="confirm your password password"
              />
            </div>
            <div class="col-12 mt-4">
              <input type="checkbox" class="navUser" name="terms" id="" />
              <span>
                I accept all
                <span style="color: #951095">terms and conditions</span></span
              >
            </div>
            <div
              class="col-12 mt-4 d-flex justify-content-center ModalBtn"
              data-bs-toggle="modal"
              data-bs-target="#OtpModal"
            >
              <p class="signUpBtn btn btn-center">sign up</p>
            </div>
          </div>
          <div
            class="navLogin d-flex justify-content-center mt-3 pe-5 navUser ModalBtn text-muted"
            data-bs-toggle="modal"
            data-bs-target="#LogInModal"
          >
            already have an account<span style="color: #951095">? login</span>
          </div>
          <p class="navUser mt-4" (click)="signUpChanger(!isDoctor)">
            sign up For <span class="signUp-changer">{{ signToggler }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-otp [Logged]="toggler"></app-otp>
