.chat-page {
  margin-top: 20px;
  max-width: 1000px;
  height: 80vh;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 2px 1px 3px #0000001e;
  padding: 0;
  overflow: hidden;
  border: 1px solid #9510953e;
}

.header {
  background:#951095;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.sendBtn {
  color: #951095;
  border: none;
  padding: 2rem;
  font-size: 1.4rem;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  right: 6%;
}

.chat-box {
  /* padding: 15px; */
  border-radius: 10px;
  height: 350px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-message {
  max-width: 70%;
  border-radius: 10px;
  margin: 12px 10px;
}

.chat-message.sent {
  background: #951095;
  color: white;
  align-self: flex-end;
}

.chat-message.received {
  background: #e9ecef;
  align-self: flex-start;
}
.chat-image {
  max-width: 200px;
  border-radius: 10px;
  border-bottom-right-radius: none;
  border-bottom-left-radius: none;
  object-fit: cover;
}

.chat-input {
  display: flex;
  background-color: rgba(149, 16, 149, 20%);
  height: 100px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.chat-input input {
  flex: 1;
}

.file-preview {
  max-width: 100px;
  border-radius: 5px;
  margin-top: 5px;
}

.file-input {
  display: none;
}

.file-upload-label {
  cursor: pointer;
  font-size: 24px;
  color:#951095;;
  margin: 0 10px;
}

.file-upload-label:hover {
  color: #951095b0;;
}

.chater-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.chater-status {
  width: 15px;
  height: 15px;
  background-color: #0f0;
  border-radius: 50%;
}
.unread {
  width: 15px;
  height: 15px;
  background-color: #951095;
  border-radius: 50%;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
}
.line {
  background-color: #000;
  width: 85%;
  border-radius: 1rem;
  margin: 0 auto;
  height: 0.024rem;
}
.users-list {
  height: 350px;
  overflow-y: auto;
}
.users-list > .row {
  cursor: pointer;
  width: 100%;
}
.users-list:hover > .row {
  background-color: rgba(149, 16, 149, 10%);
}

.user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.chat-left {
  background-color: rgba(149, 16, 149, 10%);
}
.chat-right {
  background-color: #fff;

  padding: 0;
}

.user-name {
  font-size: 1.2rem;
  color: #951095;
  margin-bottom: 0;
}
.user-speciality {
  font-size: 0.8rem;
  color: #00000079;
 
}
.search-bar {
  display: flex;
  background-color: #fff;
  justify-content: center;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0 auto;
  box-shadow: 4px 3px 3px #0000001e;
  margin-bottom: 1rem;
}
input {
  border: none;
  outline: none;
}

.search-bar input {
  width: 90%;
  height: 100%;
}
