


.footer {
  background-color: #9c27b0 !important;
  padding: 40px 60px;
  
}

.footer h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  
}
.footer-buttons{
  display: grid;
  width: 60%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.footer-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-weight: bold;

  border-radius: 4px;
  border: 2px solid white;
  cursor: pointer;
  background: transparent;
  color: white;
}
footer-buttons:hover button {
 color: #000;
 background-color: #9c27b0;
}

.footer-buttons .solid {
  background-color: white;
  color: #9c27b0;
  border: none;
  
  
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.footer-column h4 {
  margin-bottom: -50px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 40px;
}

.footer-column ul {
  list-style: none;
  padding: 40px;
}

.footer-column ul li {
  margin-bottom: 8px;
  font-size: 16px;
  cursor: pointer;


}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 20px;
}

.footer-bottom .logo {
  font-weight: bold;
  color: white;
  font-size: 24px;
  border: 2px solid white;
  padding: 4px 10px;
  display: inline-block;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.social-icons i {
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
}
ul>li{color:#fff;}
h4{color: #FFF;}
i{color:#fff}
p{color:#fff}